<div class="main-page">
    <div class="card simple-card login_card">
        <div class="card-header">
            <img src="../../../../../assets/images/logo.png" style="width: 15rem;">


        </div>
        <div class="card-body">
            <div  class="form-floating mb-3 login-div">
                <button  type="button" class="btn-log" (click)="googleAuth()" ><img  src="../../../../../assets/images/icon/google-icon.png" alt="" class="icon-google"><h4 >Login with google</h4></button></div>
        </div>
    </div>
</div>
