.next {
    color: white;
    background: #467fff;
    margin-left: 11.8rem;
}

.back {
    color: #467fff !important;
    background-color: #efefef !important;
}



::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
    color: #efefef;
}


.mat-typography{
  background-color:rgb(248 246 246);
  border-radius: 0.5rem;
  padding: 16px 16px 16px 16px;
   margin-left: 12px;
  margin-right: 12px;
  color: #8c8c8c;
}
