.content_page{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .main_sector{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: auto;
    }
    .sidebar_sector{
        width: 25rem;
        height: 100vh;
        overflow: auto;
        z-index: 2;
        // border-left: 0.01rem solid #efefef;
        background-color: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        .header_sidebar{
            position: relative;
            display: flex;
            justify-content: space-around;
            height: 4.2rem;
            align-items: center;
            border-bottom: 0.15rem solid #efefef;
            .btn_close{
              background-color: #2173e8 !important;
              left: 1rem;
              top: 0.8rem;
              position: absolute;
              box-shadow: none;
              width: 2.1rem;
            }
            h4{
              font-size: 1rem;
              color: #2173e8;
              font-weight: 500;
              margin: 0;
            }
          }
          .body_sidebar {
            height: calc(100% - 4.4rem);
            padding: 0;
            .ul_data_workflow{
              list-style-type:none;
              padding: 0;
              .li_data_workflow{
                padding: 0.5rem;
                h3{
                  color: rgb(112 180 69);
                  font-size: 0.9rem;
                  font-weight: 500;
                }
                h4{
                  white-space:normal;
                  font-size: 0.8rem;
                  color: #999999;
                }
              }
            }
         }
    }

}