<div class="div-main">
  <div class="title-page">
    <h2>User Management</h2>
  </div>

  <div class="row custom-div-liste-user">
    <div class="table-with-filter">
      <div class="menu-table-user">
        <div class="search-table">
          <input class="form-control form-control-light rounded-0 border-0 search-input-table" id="input" type="text"
            placeholder="Search" aria-label="Search" [(ngModel)]="term" #input />
        </div>
        <div class="btn-action">
          <button mat-button class="btn-menu-table" (click)="openDialogAddUser()">Add new user</button>
          <button mat-button [matMenuTriggerFor]="menu" class="btn-menu-table btn-color" *ngIf="showActions == true">
            More options
            <mat-icon>arrow_drop_down</mat-icon>
          </button>

          <mat-menu #menu="matMenu" #aboveMenu="matMenu" class="custom-mat-menu ">
            <button mat-menu-item (click)="delete(selectedItem.id)">
              <mat-icon>delete_outline</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="example-container datatable-container">
        <div class="table-responsive tableFixHead">
          <table class="table align-middle">
            <thead>
              <tr class="text-start text-muted text-uppercase">
                <th class="min-w-125px">Email</th>
                <th class="min-w-125px">Role</th>
                <th class="min-w-125px">Created On</th>
              </tr>
            </thead>
            <tbody class="text-gray-400" *ngIf="loader == true">
              <tr class="color" *ngFor="
                      let item of list
                      | paginate : {itemsPerPage: tableSize, currentPage: page }
                      | filter:term ; let i = index
                    " (click)="selectRow(item)"
                    [ngClass]="{'selected': selectedRowIndex === i}"
                    [ngClass]="{ 'selected-row': item === selectedItem  && tableFocused === true }"
                    [ngClass]="{ selected: item.checked }">

                <td>
                  {{ item.email }}
                </td>
                <td>
                  <span class="role-chip"  [ngClass]="{ 'admin': item.role === 'admin', 'user': item.role === 'user'}">
                    {{item.role | lowercase}}
                  </span>

                </td>
                <td>
                  {{ item.created_on }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-container *ngIf="loader == false">
          <span class="indicator-progress loader-tn"
            [style.display]="'block'">
            Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
      </div>
    </div>

    <div class="dataTables_paginate paging_simple_numbers">
      <pagination-controls class="float-end" [responsive]="true" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>

</div>
